In [ ]:
import os
import csv

import pandas as pd

df = pd.read_csv("budget_data.csv")
print(df)

Empty DataFrame
Columns: [Total Months, Total, Average Change, Greatest Increase in Profits, Greatest Decrease in Profits]
Index: []

In [ ]:
df = pd.read_excel("budget_data.xlsx")
df.head()

        Date  Profit/Losses
0 2010-01-01        1088983
1 2010-02-01        -354534
2 2010-03-01         276622
3 2010-04-01        -728133
4 2010-05-01         852993

In [ ]:
df = pd.read_excel("budget_data.xlsx")
outpath = os.path.join("budget_data.xlsx")
pd.read_excel(("budget_data.xlsx")(-0,0 +1,87"))

SyntaxError: invalid syntax (607609726.py, line 4)